body {
  margin: 0;
  text-align: center;
}

#wrapper {
  position: relative;
}

#map {
  width:70%;
  height:60vh;
  margin: 0 auto;
}

.sort {
    margin-left: 5px;
    cursor: pointer
}

#infoTable {
    width: 70%
    margin: 0 auto;
}

th {
    cursor: pointer
}