body {
  margin: 0;
  text-align: center;
}

#wrapper {
  position: relative;
}

#map {
  width:70%;
  height:60vh;
  margin: 0 auto;
}

.sort {
    margin-left: 5px;
    cursor: pointer
}

#closeBtn {
  position: absolute;
  cursor: pointer;
  font-size: large;
  top: 0;
  right: 0;
  margin-top: 7px;
  margin-right: 7px;
  z-index: 2;
}


#infoBox {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 375px;
  height: 100vh;
  z-index: 1;
  overflow: auto;
}

#metaInfo {
  position: fixed;
  width: 375px;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 1;
  background: #2DB400;
}

#infoChart {
  margin-top: 120px;
  width: 100%;
  height: auto !important;
}

#info {
  width: 100%;
  padding-top: 5px;
}

.tradeData {
  padding: 10px;
  margin: 10px;
  border: 0.1rem solid #2DB400;
  border-radius: 12px;
  background: white;
}

#chart {
  width: 90%;
}
