<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>간단한 지도 표시하기</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script
            type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=qrxonlktn8&submodules=geocoder"
    ></script>
</head>
<body>
<div id="map" style="width:100%;height:400px;"></div>

<script th:inline="javascript">
/* <![CDATA[ */
      var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 5,
        minZoom: 1,
        zoomControl: true,
        zoomControlOptions: {
          position: naver.maps.Position.TOP_RIGHT
        }
      })

      var list = /*[[ ${merchantList} ]]*/
      list.forEach(el => {
      naver.maps.Service.geocode(
        {
          query: el.address
        },
        function(status, response) {
          if (status !== naver.maps.Service.Status.OK) {
            return alert(response)
          }
          var result = response.v2, // 검색 결과의 컨테이너
            items = result.addresses // 검색 결과의 배열
          var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(items[0].y, items[0].x),
            map: map
          })
             console.log('찍음')
          }
        )
      })
/* ]]> */
</script>
</body>
</html>
