<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>Offline Payment</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script
            type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=qrxonlktn8&submodules=geocoder"
    ></script>
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div id="wrapper">
    <div id="map">
        <div id="infoBox"></div>
    </div>
</div>

<script th:inline="javascript">
/* <![CDATA[ */
    const infoBox = document.querySelector('#infoBox')
    const nameBox = $(
        '<div style="position:absolute;z-index:1000;padding:5px 10px;background-color:white;border:solid 1px black;font-size:14px;display:none;"></div>'
        )

    const map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 5,
        minZoom: 1,
        zoomControl: true,
        zoomControlOptions: {
          position: naver.maps.Position.TOP_RIGHT
        }
      })

      nameBox.appendTo(map.getPanes().floatPane)

      const list = /*[[${merchantList}]]*/
      list.forEach(el => {
        naver.maps.Service.geocode(
          {
            query: el.address
          },
          (status, response) => {
            if (status !== naver.maps.Service.Status.OK) {
              return alert(response)
            }
            const result = response.v2, // 검색 결과의 컨테이너
              items = result.addresses // 검색 결과의 배열
            // 가게 위치에 마커 표시
            const marker = new naver.maps.Marker({
              position: new naver.maps.LatLng(items[0].y, items[0].x),
              map: map
            })

            naver.maps.Event.addListener(marker, 'mouseover', (e) => {
              nameBox
                .css({
                  display: '',
                  left: e.offset.x,
                  top: e.offset.y
                })
                .text(el.merchantName)
            })

            naver.maps.Event.addListener(marker, 'mouseout', (e) => {
              nameBox.hide().empty()
            })

            naver.maps.Event.addListener(marker, 'click', function(e) {
              infoBox.innerHTML = '<h1>' + el.merchantName + '</h1>'
              infoBox.innerHTML += '<p>' + el.address + ' ' + el.addressDetail + '</p>'
              infoBox.innerHTML += '<hr>'

              $.get(
                'http://localhost:8080/map/trade',
                { id: el.id },
                (data, status) => {
                  let total = 0
                  let date = `<h3> ${data[0].tradeDate.substr(0, 4)}년
                    ${data[0].tradeDate.substr(4, 2)}월
                    ${data[0].tradeDate.substr(6, 2)}일 </h3>`

                  infoBox.innerHTML += date
                  infoBox.innerHTML += `<p> 거래건수: ${data.length} </p>`
                  data.forEach(el => {
                    //결제된 경우
                    if(el.tradeType == 0){
                        total += Number(el.amount)
                    }

                    let tradeData = `<div class="tradeData">거래 금액: ${Number(el.amount)}원<br>
                        거래 수수료: ${Number(el.fee)}원 <br> 거래 서비스 타입: ${el.serviceType}<br>
                        거래 접근 타입: ${el.tradeAccess}
                        </div>`
                    infoBox.innerHTML += tradeData
                  })

                  infoBox.innerHTML += '<p> 거래총액: ' + total + '</p>'
                }
              )
            })
          }
        )
      })
/* ]]> */
</script>
</body>
</html>
